@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #009688;
  --green-hover: #4db6ac;
  --blue: #3b82f6;
  --blue-hover: #d9eaff;
}


@variant sm (min-width: 640px);
@variant md (min-width: 768px);
@variant lg (min-width: 1024px);
@variant xl (min-width: 1280px);

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-figtree);
}

 /* antdesign checkbox */
.holiday-checkbox:hover .ant-checkbox-inner {
  border-color: var(--green)
}
 

.holiday-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--green);
  border-color: var(--green);
}

.holiday-checkbox:hover .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--green-hover);
  border-color: var(--green-hover)
}

/* Calendar responsive */
.rmdp-wrapper{
  @apply w-max sm:w-full 
}
.rmdp-calendar {
  @apply w-full 
}
.rmdp-top-class {
  @apply w-max
}
.rmdp-full-year {
  @apply grid-cols-1 md:grid-cols-2 lg:grid-cols-3 
}

